.main { min-height: calc(100vh - var(--header-heaight)); padding: 50px 0; display: flex; justify-content: center; background-color: #100D25; }
.mainContainer { width: 500px; }
.card { margin-top: 100px; padding-bottom: 30px; border-radius: 5px; background-color: #ECEBF5; position: relative; }
.cardHeader { height: 80px; margin:0 auto; display: flex; justify-content: center; align-items: center; }
.back { width: 80px; font-size: 26px; text-align: center; cursor: pointer; position: absolute; left: 0; }
.back:hover { color:hsl(0, 0%, 30%); }
.cardName { width: 420px; font-weight: 700; font-size: 20px; text-align: center; }
.cardMain { margin: 0 80px; }
.loginKey { height: 40px; background-color: white; border: 1px solid rgba(0,0,0,0.2); box-shadow:inset 0 2px 0 rgba(0, 0, 0, 0.02); display: flex; position: relative; }
.loginKeyInput { width: 100%; padding: 12px; border: 0; outline: 0; }
.warning { width: 100%; height: 21px; padding-top: 5px; color: #ff424f; font-size: 12px; }
.submit { height: 40px; margin-top: 15px; font-weight: 700; border-radius: 5px; color: #ECEBF5; background-color: #100D25; display: flex; justify-content: center; align-items: center; cursor: pointer; }
.notAllowed { background-color: gray; cursor: not-allowed; }
.allowed:hover { background-color: hsl(248, 48%, 40%) }
@media (max-width: 650px) {
 .mainContainer { width: 340px; justify-content: center; }
.back { font-size: 20px; width: 40px; }
.cardName { width: 300px; }
.cardMain { margin: 0 40px; }
.text { font-size: 14px; }
.criteriaText { font-size: 14px; }
 }