* { box-sizing: border-box; font-family: Arial, Helvetica, sans-serif; }
body { margin: 0; }
/* Default <a> Styling */
a { color: #219ebc; text-decoration: none; cursor: pointer; }
a:hover { filter: brightness(70%); }
