.submit { width: 100%; height: 40px; color: #ECEBF5; background-color: #100D25; border: 0; cursor: pointer; }
.notAllowed { cursor: not-allowed; }
.allowed:hover { background-color: hsl(248, 48%, 40%) }
